{% extends "layout.html" %}

{% block title %}
    Order
{% endblock %}
{% block main %}
{% if is_placed %}
        <header>
            <div class="alert alert-success mb-0 text-center" role="alert"><strong>Success! </strong>Order is placed!</div>
        </header>
{% endif %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Items</th>
                <th>Order Amount</th>
            </tr>

        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{order["orderDate"]}}</td>
                    <td class="small text-muted">{{order["description"]}}</td>
                    <td>{{order["total"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
