.header {
  background-color: #fcd59a;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: black;
}
.quote{
  display: block;
  font-style: oblique;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #faab36;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover{
    background-color: #f78104;
    color: #000000;
  }

  .skill_btn{
    background-color: #f78104;
    color: #000000;
  }

  .heading{
    font-weight: bold;
    color: #005f60;
}
.skill_frame{
  padding: 20px;
}
.checked {
  color: orange;
}