.header {
  background-color: #fcd59a;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: black;
}
.quote{
  display: block;
  font-style: oblique;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #faab36;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover{
    background-color: #f78104;
    color: #000000;
  }

  .home_btn{
    background-color: #f78104;
    color: #000000;
  }
  h1{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 50px;
    text-shadow: 2px 2px #005f60;
    transform: translate(-50%, -50%);
    color: #249ea0;
  }
.carousel-inner{
  height: 80vh;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

