ul{
    background-color: #faab36;
}

li{
    display: inline;
    float: left;
}
li a{
    display: block;
    color: #005f60;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #f78104;
}