{% extends "layout.html" %}

{% block title %}
    Transaction Finished
{% endblock %}
{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Shares Bought</th>
            </tr>
        </thead>
        <tbody>
            <td>{{symbol}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{shares}}</td>
            <td>112.00</td>
            <td>9888.00</td>
        </tbody>
    </table>


{% endblock %}