{% extend "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form action="/register", method="POST">
        <input autocomplete="off" class="form-control mx-auto w-auto" autofocus name="Username" placeholder="username" type="text">
        <input autocomplete="off" class="form-control mx-auto w-auto" autofocus name="Password" placeholder="password" type="password">
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

{% endblock %}