{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}
{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Food Name</th>
                <th>Price</th>
                <th>Number</th>
            </tr>

        </thead>
        <tbody>
            {% for food in foods %}
                <tr>
                    <td><img src="./static/food/{{food["name"]}}.jpg" class="img--thumbnail" alt="{{food["name"]}}"></td>
                    <td>{{food["name"]}}</td>
                    <td>{{food["price"]}}</td>
                    <td>{{food["number"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}