{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}
{% block main %}
    {% if success %}
        <header>
            <div class="alert alert-success mb-0 text-center" role="alert"><strong>Success! </strong>Item added to cart!</div>
        </header>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Food Name</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>

        </thead>
        <tbody>
            {% for food in foods %}
                <tr>
                    <td><img src="./static/food/{{food["name"]}}.jpg" class="img--thumbnail" alt="{{food["name"]}}"></td>
                    <td>{{food["name"]}}</td>
                    <td>{{food["price"]}}</td>
                    <td>{{food["number"]}}</td>
                    <td>
                        <form action="/cart" method="post">
                            <input name="id" type="hidden" value="{{id}}">
                            <button class="btn btn-primary" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>Total:</td>
                <td>{{total}}</td>
                <td>
                    <form action="/order" method="post">
                        <input name="id" type="hidden" value="{{foods}}">
                        <button class="btn btn-primary" type="submit">Place Order</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}