{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}
{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th></th>
                <th>Food Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            {% for food in foods %}
                <tr>
                    <td><img src="/static/{{food["name"]}}.jpg" class="img--thumbnail" alt="{{food["name"]}}"></td>
                    <td>{{food["name"]}}</td>
                    <td>{{food["price"]}}</td>
                    <td>{{food["number"]}}</td>
                    <td>
                        <form action="/cart" method="post">
                            <input name="id" type="hidden" value="{{food["id"]}}">
                            <input name="action" type="hidden" value="delete">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
       <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{total}}</td>
                <td class="border-0">
                    <form action="/order" method="post">
                        <input name="id" type="hidden" value="{{foods}}">
                        <button class="btn btn-success" type="submit">Place Order</button>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
