{% extends "layout.html" %}

{% block title %}
    Food
{% endblock %}
{% block main %}
{% if is_added %}
        <header>
            <div class="alert alert-success mb-0 text-center" role="alert"><strong>Success! </strong>Item added to cart!</div>
        </header>
{% endif %}
 <div class="container">
      <div class="row hidden-md-up">
      {% for food in foods %}

            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src=="{{url_for('static', filename='{{food}}.jpg')}}" /> class="img--cover" alt="{{food["name"]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{food["name"]}}</h5>
                        <p class="card-text">${{food["price"]}}</p>
                        <form action="/" method="post">
                            <input name="id" type="hidden" value="{{ food['id'] }}">
                            <input name="number" type="number" value="0" min="0" max="20" step="1"/>
                            <button class="btn btn-primary" type="submit">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>

        {% endfor %}
{% endblock %}