{% extends "layout.html" %}

{% block title %}
    Food
{% endblock %}
{% block main %}
 <div class="container">
      <div class="row hidden-md-up">
      {% for food in foods %}

            <div class="col-md-4 mb-2">
                <div class="card" style="width: 18rem;">
                    <img src="./static/food/{{food["name"]}}.jpg" class="card-img-top" id="img--cover" alt="{{food["name"]}}">
                    <div class="card-body">
                        <h5 class="card-title">{{food["name"]}}</h5>
                        <p class="card-text">${{food["price"]}}</p>
                        <form action="/cart" method="post">
                            <input name="id" type="hidden" value="{{ food['id'] }}">
                            <button class="btn btn-primary" type="submit">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>

        {% endfor %}
{% endblock %}