{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}
{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Items</th>
                <th>Order Amount</th>
            </tr>

        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{order["orderDate"]}}</td>
                    <td class="small text-muted">{{order["id"]}}</td>
                    <td>{{order["total"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
